legacy-peer-deps=true
auto-install-peers=true
node-linker=hoisted
public-hoist-pattern[]=*
shamefully-hoist=true
engine-strict=false
@local-package:registry=https://registry.npmjs.org/
save-exact=true
loglevel=verbose 